<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/menu">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3FBa-yq1wN10-WaTW_apcr1SG7fls4CMWDbAaE4jkareSJtzOvEF9FDcWZ_FJG6uJJTY&usqp=CAU" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Cafeteria XYZ
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/carrinho"> | Carrinho |<span class="sr-only">(current)</span></a>
        </li>
    </ul>
</nav>