<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <title>Cafeteria XYZ</title>
</head>
<body>

    <div class="container">
        <h1>Bem vindo(a) a Cafeteria XYZ!</h1>
        <h2>Para acessar nosso cardápio, clique no botão abaixo</h2>
        <a href="/menu"><button type="button" class="btn btn-outline-primary">Acessar Cardápio</button></a>
    </div>
    
    
</body>
<script src="/js/bootstrap.min.js"></script>

</html>