<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <title>Cafeteria XYZ</title>
</head>
<body>
    <h1>Testando</h1>
    <button type="button" class="btn btn-outline-primary">Primary</button>

    <div class="container">
        <% produtos.forEach(produto => { %>
            <p><%= produto.nome_produto %> | R$ <%= produto.valor %></p>
        <% }) %>
    </div>
    
    
</body>
<script src="/js/bootstrap.min.js"></script>

</html>